<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <title>Audit Browser</title>
</head>

<body>



  <div class="px-5 py-5">

    <!-- Header -->
    <header class="flex justify-between items-center border-2 border-transparent rounded-md shadow-md relative">
      <!-- logo -->

      <div class="logo_container flex items-center px-2">
        <a href="#"> <img alt="logo" src="../static/image/logo.png" height="80" width="160" /> </a>
      </div>
      <!-- Desktop Browser -->
      <nav>

      </nav>

      <div id="ham-menu" class=" flex items-center px-5 relative">
        <a href="#"><img alt="ham" src="../static/image/ham.png" width="20" height="20" /></a>

      </div>
      <div id="ham-nav"
        class="absolute right-0 top-12 left-0 h-[200px] bg-[#6DB9FF] rounded-lg hidden opacity-0 transtion-opacity ">
        <ul class="flex flex-col justify-center items-center h-full text-white">
          <li class="my-2"><a href="#">Home</a></li>
          <li class="my-2"><a href="#">About</a></li>
          <li class="my-2"><a href="#">Contact</a></li>
        </ul>
      </div>

      <!-- Nav -->
    </header>



    <!-- End of Header -->

    <!-- Search Bar -->

    <div class="flex justify-center items-center">
      <a href="#" id="test-button"
        class="inline-block w-44 h-15 my-5 rounded-md text-center flex justify-center items-center bg-[#43A2FB] text-white py-2 px-4  focus:outline-none focus:shadow-outline">
        <svg aria-hidden="true" id="loader"
          class="w-8 h-8 text-gray-200 dark:text-gray-100 animate-spin hidden fill-blue-600 " viewBox="0 0 100 101"
          fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
            fill="currentColor" />
          <path
            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
            fill="currentFill" />
        </svg>
        <span id="button-text" class="my-1">Test Browser</span>
      </a>
      </a>
    </div>

    <!-- End of Search Bar -->


    <!-- BOI CONTAINERS  -->


    <div id="info-1" class="border-transparent shadow-md p-4 rounded-md">
      <p id="info-1-p" class="text-[#5E5D5D]">
        <strong class="text-[#43A2FB]">Browser fingerprinting</strong> can collect a wide range of data points,
        including the user's browser
        type and version,
        operating system, screen resolution, installed fonts, plugins, language preferences, and more. Each data
        point contributes to the overall complexity and uniqueness of the fingerprint, making it more difficult to
        identify and track the user across different websites and sessions.
      </p>
      <div id="boi-container" class="flex justify-around items-center p-2 hidden transition-all duration-500 ease-in">
        <div class="rounded-md shadow-md mr-2 p-2">
          <div class="flex justify-between items-center">
            <p class="mr-2 text-[#5B5B5B]">DESKTOP</p>
            <img alt="dektop" src="../static/image/desktop.png" width="23" height="23" />
          </div>
          <div class="my-2">
            <p class="text-xs text-[#5B5B5B]">Amount of Information</p>
            <p class="text-center my-4"><span id="desk-boi" class="text-lg">3.26</span> <span>Bits</span></p>
          </div>
        </div>

        <div class="rounded-md shadow-md ml-2 p-2">
          <div class="flex justify-between items-center">
            <p class="mr-2 text-[#5B5B5B]">MOBILE</p>
            <img alt="mobile" src="../static/image/mobile.png" width="25" height="25" />
          </div>
          <div class="my-2">
            <p class="text-xs text-[#5B5B5B] ">Amount of Information</p>
            <p class="text-center my-4"><span id="mob-boi" class="text-lg">5.26</span> <span>Bits</span></p>
          </div>
        </div>

      </div>
    </div>

    <!-- End of BOI CONTAINERS -->

    <!-- CHART CONTAINER -->
    <div id="info-2" class="border-transparent shadow-md p-4 rounded-md mt-5">
      <p id="info-2-p" class="text-[#5E5D5D]">
        <strong class="text-[#43A2FB]"> The Amount of Information</strong> related to browser fingerprinting can vary
        depending on the level
        of detail and accuracy of the data points that are collected. For example, more detailed information such as
        installed fonts
        or screen resolution can add additional complexity and uniqueness to the fingerprint, making it more difficult
        to match with other users or devices.

        Overall, the amount of information related to browser fingerprinting can have significant implications for
        user privacy and security, as it can be used to track and identify users across the web without their
        knowledge or consent. It is important for users to be aware of the potential risks of browser fingerprinting
        and to take steps to protect their online privacy.
      </p>

      <!-- Container for charts  -->

      <div id="chart-container" class="hidden block-transition duration-500  ">
        <div class="flex justify-start items-center p-2 ">
          <!-- Chart Header -->
          <p>STATISTICS</p>

        </div>
        <div id="chart" class="flex justify-center"></div>

      </div>

    </div>

    <!-- END OF CHART CONTAINER -->

    <!-- STATS CONTAINER -->
    <div id="stats-container" class="p-4 mt-4 shadow-md rounded-lg hidden">
      <!-- Table Statistics -->
      <div class="flex justify-between px-4 py-2">
        <!-- Stats header -->
        <span><strong>Attributes</strong></span>
        <span><strong>Amount of Information</strong></span>

      </div>
      <hr />
      <div id="stats-div">

      </div>

    </div>

    <!-- END OF STATS CONTAINER -->

    <!-- FOOTER -->
    <footer class="flex justify-between items-center rounded-md shadow-md mt-5 p-4">
      <div class="logo_container flex items-center px-2 flex-0.7">
        <!-- <a href="#"> <img src="../static/image/logo.png" height="80" width="160" /> </a>
         -->
        <p class="text-sm text-[#43A2FB]">&#169; AuditBrowser 2022-2023</p>
      </div>

      <div class="ham-menu flex items-center px-5 flex items-center flex-0.3">
        <!-- social media icon -->
        <img alt="twitter" class="mx-2" src="../static/image/Twitter.png" />
        <img alt="github" class="mx-2 mb-1" src="../static/image/github.png" />
      </div>

    </footer>
    <!-- END OF FOOTER CONTAINER -->
      


  </div>
  <script type="module">
    import { get_attributes } from "../static/js/main.js";
    let attributes = {};
    attributes = get_attributes();

    let data_point = [];
    let data_display = document.getElementById("data");


    // FUNCTIONS

    // create a function to gerneate accelerometer data including gravity
    


    function handleMotion(event) {
        data_point.push([
        event.acceleration.x,
        event.acceleration.y,
        event.acceleration.z,
        ]);
    }

    // function handleOrientation(event) {

    //     data_point.push([
    //     event.alpha,
    //     event.beta,
    //     event.gamma,
    //     ]);
    // }


    // END OF FUNCTIONS


    // if (
    //     DeviceMotionEvent &&
    //     typeof DeviceMotionEvent.requestPermission === "function"
    // ) {
    //     DeviceMotionEvent.requestPermission();
    // }


    window.addEventListener("devicemotion", handleMotion);
    // window.addEventListener("deviceorientation", handleOrientation);

    attributes["accelerometer"] = data_point;

    let testButton = document.getElementById('test-button');
    let loader = document.getElementById('loader');
    let buttonText = document.getElementById('button-text');
    let boiContainer = document.getElementById('boi-container');
    let info_1_p = document.getElementById('info-1-p');
    let info_2_p = document.getElementById('info-2-p');
    let chartContainer = document.getElementById('chart-container');
    let statsContainer = document.getElementById('stats-container');
    let hamNav = document.getElementById('ham-nav');
    let hamMenu = document.getElementById('ham-menu');
    let statsDiv = document.getElementById('stats-div');
    let deskBoi = document.getElementById('desk-boi');
    let mobileBoi = document.getElementById('mob-boi');



    let clicked = false;
    let hamClicked = false;
    hamMenu.addEventListener('click', (event) => {
        event.preventDefault();
        
        if (!hamClicked) {
        hamClicked = true;
        hamNav.classList.remove('hidden');
        hamNav.classList.add("opacity-100");
        }
        else {
        hamClicked = false;
        hamNav.classList.add('hidden');
        hamNav.classList.remove("opacity-0");
        }


    });




    testButton.addEventListener('click', (event) => {
        event.preventDefault();

        if (!clicked) {
        clicked = true;
        loader.classList.remove('hidden');
        buttonText.classList.add('hidden');

        setTimeout(async () => {
            window.removeEventListener("devicemotion", handleMotion);
            attributes["accelerometer"] = data_point;
            console.log(attributes)


            // After loading data boiContainer will be shown and 
            boiContainer.classList.remove("hidden");
            info_1_p.classList.add("hidden");
            info_2_p.classList.add("hidden");
            chartContainer.classList.remove("hidden");
            statsContainer.classList.remove("hidden");


            const response = await fetch('/api/fetch_data', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Allow-Control-Allow-Origin': '*', // Required for CORS support to work
            },
            body: JSON.stringify(attributes)
            });

            const data = await response.json();
            console.log(data);

            // if status is true then data is returned and information is displayed

            if (data.status) {
            // create apex chart

            let desk_boi = data['data']['desktop'];
            let mobile_boi = data['data']['mobile'];

            deskBoi.innerText = Number(desk_boi).toFixed(2);
            mobileBoi.innerText = Number(mobile_boi).toFixed(2);




            let ctx = document.getElementById('chart');
            let cat = [];
            let dat = [];
            
            data['data']['attributes'].sort(function (a, b) {
                return b.bits_of_info - a.bits_of_info;
            });

            for (let i = 0; i < data['data']['attributes'].length; i++) {
                cat.push(data['data']['attributes'][i]['attribute']);
                if(data_point.length == 0){
                dat.push(data['data']['attributes'][i]['ent_desk']);
                }
                else{
                  dat.push(data['data']['attributes'][i]['ent_mob']);
                }
            }
            let options = {
                series: [{
                data: dat
                }],
                chart: {
                toolbar: {
                    show: false
                },
                type: 'bar',
                height: 800,
                width: "100%",
                // foreColor: 'black',
                align: 'start',
                sparkline: {
                    enabled: true
                },

                },
                legend: {
                show: false
                },
                plotOptions: {
                bar: {
                    // columnWidth: 200,
                    barHeight: '100%',
                    barWidth: 100,
                    distributed: true,
                    horizontal: true,
                    dataLabels: {
                    position: 'bottom'
                    },
                    colors: {
                    ranges: [ {
                        from: 0,
                        to: 100,
                        color: '#43A2FB'
                    }],
                    backgroundBarColors: ['#ECF2FF'],
                    backgroundBarOpacity: 1,
                    backgroundBarRadius: 5,
                    },
                }
                },
                dataLabels: {
                enabled: true,
                textAnchor: 'start',
                style: {
                    fontSize: '16px',
                    // marginTop: '10px',
                    colors: ['#5E5D5D'],
                    fontFamily: 'Helvetica, Arial, sans-serif',
                    fontWeight: 'medium',
                    textShadow: 'none',
                },
                formatter: function (val, opt) {
                    return opt.w.globals.labels[opt.dataPointIndex] + ":  " + val
                },
                offsetX: 0,
                dropShadow: {
                    enabled: false
                }
                },
                stroke: {
                width: 1,
                colors: ['#ECF2FF']
                },
                xaxis: {
                categories: cat,
                },
                yaxis: {
                labels: {
                    show: false
                }
                },
            };
            let chart = new ApexCharts(ctx, options);
            chart.render();




            let statsData = await data['data']['attributes']
            // remove all childs from statsDiv
            while (statsDiv.firstChild) {
                statsDiv.removeChild(statsDiv.firstChild);
            }
            for (let i = 0; i < statsData.length; i++) {

                let div = document.createElement("div");
                div.classList.add("flex", "justify-between", "px-4", "py-2");
                let span1 = document.createElement("span");
                span1.classList.add("text-[#5E5D5D]");
                let span2 = document.createElement("span");
                span2.classList.add("text-lg");
                let span3 = document.createElement("span");
                span3.classList.add("text-sm");
                span3.innerText = " Bits";
                span1.innerText = statsData[i]['attribute'];
                span2.innerText = statsData[i]['bits_of_info'];
                div.appendChild(span1);
                div.appendChild(span2);
                span2.appendChild(span3);
                statsDiv.appendChild(div);

            }
            }
            else {
            console.log("data not found");
            }



            loader.classList.add('hidden');
            buttonText.classList.remove('hidden');
            clicked = false;
        }, 5000);
        }





    });
  </script>

  <script src=" https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js "></script>
  <!-- <script type="module" src="./static/js/acc.js"></script> -->

</body>

</html>