<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <title>BrowserAudit</title>
</head>

<body>
  <!-- Layout  -->
  <!-- header -->
  <!-- Body -->
  <!-- footer -->
  <div class="px-5 py-5">
    <header class="flex justify-between items-center border-2 border-transparent rounded-md shadow-md">
      <!-- logo -->
      <div class="logo_container flex items-center px-2">
        <a href="#"> <img src="../static/image/logo.png" height="80" width="160" /> </a>
      </div>
      <!-- Desktop Browser -->
      <nav>

      </nav>

      <div class="ham-menu flex items-center px-5">
        <a href="#"><img src="../static/image/ham.png" width="20" height="20" /></a>
      </div>


      <!-- Nav -->
    </header>

    <div class="flex justify-center items-center">
      <a id="test-button" class="my-5 border-2 border-blue-100 px-8 py-4 bg-[#43A2FB] text-white rounded-lg" href="#">
        <!-- <svg aria-hidden="true" id="loader"
          class="w-8 h-8 left-1/2 -ml-4 mr-2 text-gray-200 animate-spin dark:text-gray-100 fill-blue-600 absolute"
          viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
            fill="currentColor" />
          <path
            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
            fill="currentFill" />
        </svg> -->

        <p id="test-button-text" class="">Test Browser</p>

      </a>
    </div>
    <div id="info-1" class="border-transparent shadow-md p-4 rounded-md">
      <p id="info-1-p" class="text-[#5E5D5D]">
        <strong class="text-[#43A2FB]">Browser fingerprinting</strong> can collect a wide range of data points,
        including the user's browser
        type and version,
        operating system, screen resolution, installed fonts, plugins, language preferences, and more. Each data
        point contributes to the overall complexity and uniqueness of the fingerprint, making it more difficult to
        identify and track the user across different websites and sessions.
      </p>
      <div id="boi-container" class="flex justify-around items-center p-2 hidden">
        <div class="rounded-md shadow-md mr-2 p-2">
          <div class="flex justify-between items-center">
            <p class="mr-2 text-[#5B5B5B]">DESKTOP</p>
            <img src="../static/image/desktop.png" width="23" height="23" />
          </div>
          <div class="my-2">
            <p class="text-xs text-[#5B5B5B]">Amount of Information</p>
            <p class="text-center my-4"><span id="desk-boi" class="text-lg">3.26</span> <span>Bits</span></p>
          </div>
        </div>

        <div class="rounded-md shadow-md ml-2 p-2">
          <div class="flex justify-between items-center">
            <p class="mr-2 text-[#5B5B5B]">MOBILE</p>
            <img src="../static/image/mobile.png" width="25" height="25" />
          </div>
          <div class="my-2">
            <p class="text-xs text-[#5B5B5B] ">Amount of Information</p>
            <p class="text-center my-4"><span id="mob-boi" class="text-lg">5.26</span> <span>Bits</span></p>
          </div>
        </div>

      </div>

    </div>
    <div id="info-2" class="border-transparent shadow-md p-4 rounded-md mt-5">
      <p id="info-2-p" class="text-[#5E5D5D]">
        <strong class="text-[#43A2FB]"> The Amount of Information</strong> related to browser fingerprinting can vary
        depending on the level
        of detail and accuracy of the data points that are collected. For example, more detailed information such as
        installed fonts
        or screen resolution can add additional complexity and uniqueness to the fingerprint, making it more difficult
        to match with other users or devices.

        Overall, the amount of information related to browser fingerprinting can have significant implications for
        user privacy and security, as it can be used to track and identify users across the web without their
        knowledge or consent. It is important for users to be aware of the potential risks of browser fingerprinting
        and to take steps to protect their online privacy.
      </p>

      <!-- Container for charts  -->

      <div id="chart-container" class="p-4 hidden">
        <div class="flex justify-between items-center">
          <!-- Chart Header -->
          <p>STATISTICS</p>
          <img src="../static/image/chart.png" width="24" height="24" />
        </div>
        <!-- <div id="chart" class="flex justify-center"> -->
          <!-- chart Canvas -->
          <!-- <canvas id="chart" width="100" height="200"></canvas> -->
        <!-- </div> -->

      </div>

    </div>
    <div id="stats-container" class="p-4 mt-4 shadow-md rounded-lg hidden">
      <!-- Table Statistics -->
      <div class="flex justify-between px-4 py-2">
        <!-- Stats header -->
        <span><strong>Attributes</strong></span>
        <span><strong>Amount of Information</strong></span>

      </div>
      <hr />
      <div id="stats-div">
        
      </div>

    </div>
    <footer class="flex justify-between items-center rounded-md shadow-md mt-5 p-4">
      <div class="logo_container flex items-center px-2 flex-0.7">
        <!-- <a href="#"> <img src="../static/image/logo.png" height="80" width="160" /> </a>
         -->
        <p class="text-sm text-[#43A2FB]">&#169; AuditBrowser 2022-2023</p>
      </div>

      <div class="ham-menu flex items-center px-5 flex items-center flex-0.3">
        <!-- social media icon -->
        <img class="mx-2" src="../static/image/Twitter.png" />
        <img class="mx-2 mb-1" src="../static/image/github.png" />
      </div>

    </footer>


  </div>

  <script type="module">
    // Fetch attributes from main.js
    import { get_attributes } from "./static/js/main.js";
    let attributes = {};
    attributes = get_attributes();
    // console.log(attributes);

    // extrach accelerometer data
    let data_point = [];
    let data_display = document.getElementById("data");


    function handleMotion(event) {
      console.log(event.acceleration.x, event.acceleration.y, event.acceleration.z);
      data_point.push([
        event.acceleration.x,
        event.acceleration.y,
        event.acceleration.z,
      ]);
    }

    function handleOrientation(event) {

      data_point.push([
        event.alpha,
        event.beta,
        event.gamma,
      ]);
    }

    if (
      DeviceMotionEvent &&
      typeof DeviceMotionEvent.requestPermission === "function"
    ) {
      DeviceMotionEvent.requestPermission();
    }

    // Code for Button Clicks
    let test_button = document.getElementById("test-button");
    // let button_text = document.getElementById("test_button_text");
    // let loader = document.getElementById("loader");
    // let info_div_1 = document.getElementById("info-div-1");
    // let chart_container = document.getElementById("chart_container");




    window.addEventListener("devicemotion", handleMotion);
    window.addEventListener("deviceorientation", handleOrientation);

    // addeventlistener for button click
    test_button.addEventListener("click", function (event) {
      event.preventDefault();
      //   button_text.style.display = "none";
      //   loader.style.display = "block";
      setTimeout(function () {


        window.removeEventListener("devicemotion", handleMotion);
        window.removeEventListener("deviceorientation", handleOrientation);
        attributes["accelerometer"] = data_point;
        let send_data = { "attributes": attributes }
        //     button_text.style.display = "block";
        //     loader.style.display = "none";


        // ****************************************

        fetch("/api/fetch_data", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "Access-Control-Allow-Origin": "*",
          },
          body: JSON.stringify(send_data),
        })
          .then((response) => response.json())
          .then((data) => {
            let dat = [];
            let cat = [];
            let res = data['data']['attributes'];
            let d_boi = data['data']['desktop']['bits_of_info'];
            let m_boi = data['data']['mobile']['bits_of_info'];
            

            let info_1_p = document.getElementById("info-1-p");
            let info_2_p = document.getElementById("info-2-p");
            let boi_container = document.getElementById("boi-container");
            let chart_container = document.getElementById("chart-container");





            // Global 

            let mob_boi = document.getElementById("mob-boi");
            let desk_boi = document.getElementById("desk-boi");
            let stats_div = document.getElementById("stats-div");
            let stats_container = document.getElementById("stats-container");
            for(  let i=0; i<res.length; i++){
              let div = document.createElement("div");
              div.classList.add("flex", "justify-between", "px-4", "py-2");
              let span1 = document.createElement("span");
              span1.classList.add("text-[#5E5D5D]");
              let span2 = document.createElement("span");
              span2.classList.add("text-lg");
              let span3 = document.createElement("span");
              span3.classList.add("text-sm");
              span3.innerText = " Bits";
              span1.innerText = res[i]['attribute'];
              span2.innerText = res[i]['bits_of_info'];
              div.appendChild(span1);
              div.appendChild(span2);
              span2.appendChild(span3);
              stats_div.appendChild(div);
            }
            stats_container.classList.remove("hidden");

            desk_boi.innerText = d_boi;
            mob_boi.innerText = m_boi;

            info_1_p.classList.add("hidden");
            info_2_p.classList.add("hidden");
            boi_container.classList.remove("hidden");
            
            for (let key of res) {
              dat.push(key['bits_of_info']);
              cat.push(key['attribute']);
            } 
            // const ctx = document.getElementById("chart");
            // create div for chart
            let div = document.createElement("div");
            div.id = "chart";
            div.classList.add("w-full", "h-full" , "flex" , "justify-center");
            chart_container.appendChild(div);


            // chart
            let ctx = document.getElementById("chart");
            var options = {
              series: [{
                data: [400, 430, 448, 470, 540, 580, 690, 1100, 1200, 1380]
              }],
              chart: {
                type: 'bar',
                height: 380
              },
              plotOptions: {
                bar: {
                  barHeight: '100%',
                  distributed: true,
                  horizontal: true,
                  dataLabels: {
                    position: 'bottom'
                  },
                }
              },
              colors: ['#33b2df', '#546E7A', '#d4526e', '#13d8aa', '#A5978B', '#2b908f', '#f9a3a4', '#90ee7e',
                '#f48024', '#69d2e7'
              ],
              dataLabels: {
                enabled: true,
                textAnchor: 'start',
                style: {
                  colors: ['#fff']
                },
                formatter: function (val, opt) {
                  return opt.w.globals.labels[opt.dataPointIndex] + ":  " + val
                },
                offsetX: 0,
                dropShadow: {
                  enabled: true
                }
              },
              stroke: {
                width: 1,
                colors: ['#fff']
              },
              xaxis: {
                categories: ['South Korea', 'Canada', 'United Kingdom', 'Netherlands', 'Italy', 'France', 'Japan',
                  'United States', 'China', 'India'
                ],
              },
              yaxis: {
                labels: {
                  show: false
                }
              },
              title: {
                text: 'Custom DataLabels',
                align: 'center',
                floating: true
              },
              subtitle: {
                text: 'Category Names as DataLabels inside bars',
                align: 'center',
              },
              tooltip: {
                theme: 'dark',
                x: {
                  show: false
                },
                y: {
                  title: {
                    formatter: function () {
                      return ''
                    }
                  }
                }
              }
            };
            let chart = new ApexCharts(ctx, options);
            chart.render();
            chart_container.classList.remove("hidden");

          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
        , 5000);

    });





  </script>
  <!-- <script type="module" src="{{ url_for('static', path='js/main.js') }}" type="text/javascript"></script> -->

  <script src=" https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js "></script>
  <script src="{{ url_for('static', path='js/home.js') }}"></script>


  <!-- <script type="module" src="{{ url_for('static', path='js/chart.js') }}"></script> -->



</body>

</html>